@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "times new roman italic";
    src: url("../fonts/times new roman italic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

/* ===blogpage=== */

#bannerSection .banner-top,
#bannerSection .container-fluid,
#bannerSection .main-banner-section {
    padding: 0px;
}

#bannerSection .banner-top {
    position: relative;
}

#bannerSection .banner-bottom {
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-bottom>p {
    text-align: center;
    font-family: "Roboto-Black";
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 12px;
}

.banner-bottom ul {
    display: table;
    margin: auto;
    background: transparent;
    padding: 10px 20px 20px 0px;
}

.banner-bottom ul li a {
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: white;
}

.breadcrumb>li+li::before {
    padding: 0 5px;
    color: white;
    font-family: "Roboto-Regular";
    font-size: 20px;
}

.banner-text>p {
    font-size: 18px;
    color: #b1b1b1;
    font-family: "times new roman italic";
    text-align: center;
    width: 80%;
    margin: auto;
}

#bannerSection .banner-text {
    margin: 30px 0px;
}

.comment-div .schedule {
    float: left;
    width: 50%;
}

.comment-div .schedule li:nth-child(2) {
    padding-right: 20px;
}

.comment-div .schedule li {
    padding-left: 3px;
    padding-right: 3px;
}

.comment-div .social {
    float: right;
    width: 50%;
    text-align: right;
}

.list-inline.social li {
    padding: 0px 15px;
}

.design-image>img {
    width: 100%;
}

.designs-maindiv .design-heading {
    font-size: 28px;
    color: #e9711b;
    font-family: "Poppins-Light";
}

.designs-maindiv .design-heading span {
    color: #666666;
}

.designs-maindiv .designs-left {
    padding: 0px;
    margin-bottom: 158px;
}

.designs-maindiv .about-design {
    display: table;
    width: 100%;
    font-size: 20px;
    font-family: Poppins-Light;
    margin: 0px;
    color: black;
    padding-top: 15px;
}

.designs-left .line {
    line-height: 10px;
    margin-bottom: 12px;
}

.designs-left .comment-div {
    width: 94%;
    margin: auto;
    border: 1px dashed #979797;
    padding: 18px 30px;
    position: absolute;
    top: 70%;
    left: 25px;
    background-color: white;
    border-radius: 4px;
}

.designs-left .design-left-inner .design-para {
    font-size: 14px;
    font-family: Poppins-Light;
    margin: 0;
}

.design-para a {
    color: #e9711b;
    text-decoration: underline;
    line-height: 16px;
}

.comment-div ul li a {
    font-size: 14px;
    font-family: Poppins-Light;
    color: black;
}

.comment-div ul li a:hover {
    text-decoration: none;
}

#designSlider .item img,
#designSlider2 .item img,
#designSlider3 .item img,
#designSlider4 .item img {
    display: block;
    width: 100%;
    height: auto;
}

#designSlider .owl-buttons .owl-prev,
#designSlider2 .owl-buttons .owl-prev,
#designSlider3 .owl-buttons .owl-prev,
#designSlider4 .owl-buttons .owl-prev,
#designSlider .owl-buttons .owl-next,
#designSlider2 .owl-buttons .owl-next,
#designSlider3 .owl-buttons .owl-next,
#designSlider4 .owl-buttons .owl-next {
    background-repeat: no-repeat;
    background-color: none;
    font-size: 0;
    background-color: #e9711b;
    padding: 18px 18px;
    border-radius: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#designSlider .owl-buttons .owl-next,
#designSlider2 .owl-buttons .owl-next,
#designSlider3 .owl-buttons .owl-next,
#designSlider4 .owl-buttons .owl-next {
    background-image: url("../images/arrow-left.png");
    left: -22px;
    background-position: right 15px top 8px;
}

#designSlider .owl-buttons .owl-prev,
#designSlider2 .owl-buttons .owl-prev,
#designSlider3 .owl-buttons .owl-prev,
#designSlider4 .owl-buttons .owl-prev {
    background-image: url("../images/arrow-right.png");
    right: -22px;
    background-position: left 15px top 8px;
}

.main-left-div {
    padding: 0px;
    padding-right: 30px;
}

.button-section {
    padding: 0px 25px;
}

.designs-left.top-gap {
    margin-bottom: 152px;
    padding-top: 30px;
    border-top: 1px solid #e1e1e1;
}

.pagination .first-list a,
.pagination .last-list a {
    background: #e9711b;
    color: white;
    text-transform: capitalize;
    width: 105px;
    height: 40px;
    border-radius: 0;
    border-color: transparent;
    border-radius: 0;
    font-size: 20px;
    font-family: Poppins-Light;
    transition: .3s;
}

.pagination .first-list a>img {
    margin-right: 10px;
}

.pagination .last-list a>img {
    margin-left: 10px;
}

.pagination .first-list a:hover,
.pagination .last-list a:hover {
    background: grey;
    color: white;
    border-color: transparent;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 0;
    margin-right: 15px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
    margin-left: 15px;
}

.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: grey;
    border-color: #ddd;
    background: lightgrey;
}

.pagination {
    border-radius: 0;
    margin: 10px 0px 50px 0px;
}

.pagination li a {
    font-size: 16px;
    font-family: Poppins-Light;
    font-family: "Roboto-Regular";
    border-radius: 0;
    border: 1px solid #7d7d7d;
    margin: 0px 5px;
    color: black;
    width: 40px;
    padding: 5px;
    height: 40px;
}

.pagination li {
    text-align: center;
}

.design-right-inner .form-control {
    height: 48px;
    padding: 6px 25px;
    font-size: 16px;
    border-radius: 0px;
    color: #666666;
}

.design-right-inner .btn.btn-default {
    height: 48px;
    background: #e9711a;
    border-radius: 0;
    border-color: transparent;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 16px;
    font-family: Poppins-Light;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
    font-family: Poppins-Light;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 16px;
    font-family: Poppins-Light;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
    font-family: Poppins-Light;
}

.form-control:focus,
.form-control:hover {
    border-color: lightgrey;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 3, 51, .3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 3, 51, .3);
}

.category-top {
    width: 210px;
    height: 48px;
    background: #e9711a;
    margin-left: 30px;
    position: relative;
    top: 22px;
    margin-top: -20px;
}

.category-top p {
    margin: 0;
    padding: 10px 15px;
    color: white;
    margin-top: 25px;
}

.category-top p a {
    color: white;
    font-size: 20px;
    font-family: Poppins-Light;
}

.category-bottom ul li a {
    text-decoration: none;
}

.category-bottom ul li a {
    font-size: 16px;
    font-family: Poppins-Light;
    color: black;
    text-transform: capitalize;
}

.category-bottom ul li {
    margin: 5px 0;
}

.category-bottom {
    border: 1px dashed #979797;
    padding: 20px;
    border-radius: 4px;
}

.sublist {
    display: none !important;
}

.category-bottom .sublist {
    padding: 0;
}

.design-category {
    padding: 0px;
}

.category-bottom .first-post {
    float: left;
    width: 130px;
}

.category-bottom .second-post {
    float: left;
    width: calc(100% - 130px);
    padding: 0px;
}

.category-bottom ul {
    display: table;
    width: 100%;
    padding: 0px 10px;
}

.category-bottom ul:last-child {
    margin: 0px;
}

.category-bottom .bottom-ul {
    margin-top: 25px;
}

.category-bottom .second-post a {
    font-size: 14px !important;
    color: black !important;
    text-transform: none !important;
}

.category-bottom .second-post p span {
    font-size: 12px;
    color: #333;
    font-family: Poppins-Light;
}

.category-bottom .offers li {
    margin: 15px 0px;
}

.category-bottom .offers li:first-child {
    margin-top: 25px;
}

.category-bottom .view-details {
    color: #e9711b;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Poppins-Light;
    display: table;
    margin: auto;
    padding-top: 8px;
}

.category-bottom .instagram-images:first-child {
    margin-top: 10px;
}

.category-bottom .instagram-images {
    margin: 0;
}

.category-bottom .instagram-images li {
    margin: 2px 0;
}

.category-bottom .instagram-images:last-child {
    margin-bottom: 10px;
}

.mobile-icon {
    position: absolute;
    left: 0;
}

.down-list {
    position: relative;
    padding: 0 15px;
}

.active {
    display: block !important;
}

#blogDesigns .container-fluid {
    padding: 0px 60px;
}

.designs-right .design-right-inner {
    padding-right: 0;
}

.designs-right {
    padding-right: 0px;
    padding-left: 20px;
}

/* ===detail-section=== */

.designs-maindiv.detail-section {
    margin-top: 65px;
}

.designs-maindiv.detail-section .layout-pic {
    margin: 20px 0px;
}

.readable-content {
    border-left: 6px solid #e9711a;
    line-height: 25px;
    height: 92px;
    font-size: 14px;
    font-family: Poppins-Light;
    color: #e9711b;
    padding-left: 8px;
    margin: 25px 10px;
}

.sharepost a {
    color: #343434;
    font-size: 26px;
    text-transform: capitalize;
    font-family: "Poppins-Medium";
}

.sharepost a .app {
    margin-left: 25px;
}

.sharepost {
    margin-top: 45px;
    margin-bottom: 0;
}

.comment-div.detailblog {
    position: relative;
    margin-top: -135px;
    left: 0px;
    top: 0px;
}

.commentblog {
    padding: 0px 25px;
    margin-top: 60px;
}

.commentblog>p {
    font-size: 26px;
    font-family: Poppins-Light;
    color: black;
    text-transform: capitalize;
    margin: 0px;
}

.blog-img {
    line-height: 5px;
}

.commentblog-maindiv .comments-left {
    padding: 0px;
    width: 75px;
}

.commentblog-maindiv .comments-right {
    padding: 0px;
    width: calc(100% - 75px);
}

.comments-right .userdetail {
    font-size: 22px;
    font-family: "Poppins-Regular";
    text-transform: capitalize;
    color: black;
    margin: 0px;
}

.comments-right .userdetail>span {
    font-size: 16px;
    color: #cccccc;
}

.comments-right .userdetail.userview {
    color: #7b7b7b;
    font-size: 14px;
    margin-bottom: 20px;
}

.user-rply {
    border: 1px solid #7d7d7d;
    padding: 2px 30px;
    color: #e9711a;
    font-size: 16px;
    font-family: "Poppins-Regular";
    text-transform: capitalize;
}

.commentblog-maindiv {
    margin-top: 30px;
    padding: 0px 25px;
}

.commentblog-maindiv:last-child {
    margin-bottom: 20px;
}

.commentblog.cmt {
    margin-top: 40px;
}